@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
:root {
  --df-clr: #ff523b;
}

body {
  font-family: "Oswald", sans-serif;
}

.df-clr {
  color: var(--df-clr);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--df-clr);
}

.btn {
  background: var(--df-clr);
  color: #fff;
}

.sm-part:hover {
  transform: translateY(-5px);
  transition: transform 0.5s;
}

.vm {
  margin-top: 50%;
  transform: translateY(-90%);
}

.img-gray img {
  cursor: pointer;
  filter: grayscale(100%);
}

.img-gray img:hover {
  filter: grayscale(0);
}

/* for single page */

.bg-banner {
  background: radial-gradient(#fff, #ffd6d6);
}

nav ul {
  margin-top: 7%;
  margin-bottom: 7%;
}

.banner-text {
  margin-top: 11%;
  margin-bottom: 11%;
}

.head-title {
  position: relative;
  line-height: 50px;
  text-align: center;
}

.head-title:after {
  content: "";
  background: var(--df-clr);
  width: 300px;
  height: 5px;
  bottom: 0;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  border-radius: 5px;
}
